body {
  font-weight: bold;
}

.content {
  padding: 20px;
}

.video_wrapper {
  position: relative;
  width: 50vw;
  height: 50vh;
  overflow: hidden;
}

.video_wrapper > video {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-100%) translateY(-100%);
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
